body{
	margin:0;
	padding:0;
}
.continar{
	width:1400px;
	background:seagreen;
	margin:0 auto;
}
.menu{
	background:#08502f;
	overflow:hidden;
}
ul{
 margin:0;
 padding:0;
}
li{
	list-style:none;
	float:left;
}
a{
	color:white;
	text-decoration:none;
	font-size:18px;
	padding:10px 20px;
	display:block;
	text-transform:uppercase;
}
a:hover{
	background:aliceblue;
	color:red;
}
.box{
	width:100%;
	height:600px;	
}
.left{
	width:70%;
	height:600px;
	background:gainsboro;
	float:left;
}
.one{
	width:70%;
	height:200px;
	background:green;
	float:left;
}
.two{
	width:30%;
	height:200px;
	background:orange;
	float:left;
	
}

.three{
	width:33.33%;
	height:200px;
	background:antiquewhite;
	float:left;
}
.right{
	width:30%;
	height:600px;
	background:yellow;
	float:left;
}
.four{
	width:100%;
	height:300px;
	background:aquamarine;
	float:left;
}
.copyright{
	width:100%;
	height:50px;
}
img{
	max-width:100%;
	width:100%;
}
